<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @card.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @card.price %>
</p>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_card_path(@card) %> |
<% end %>
<%= link_to 'Back', cards_path %>
