<!DOCTYPE HTML>
<html>
  <head>
    <title>Epilogue by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag "main.css", :media => "all"%>
  </head>
  <body>

    <!-- Header -->
      <header id="header" class="alt">
        <div class="inner">
          <h1>Gift Cards</h1>
          <p>THE BEST PLACE FOR BUYING AND SELLING 
          <%= link_to 'GIFTCARDS', cards_path %>
        </div>
      </header>

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Banner -->
          <section id="intro" class="main">
            <span class="icon fa-diamond major"></span>
            <h2>Something</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae<br />
            malesuada turpis. Nam pellentesque in ac aliquam. Aliquam tempor<br />
            mi porta egestas maximus lorem ipsum dolor.</p>
            <ul class="actions">
              <li><a href="#" class="button big">Learn More</a></li>
            </ul>
          </section>

        <!-- Items -->
          <section class="main items">
            <article class="item">
              <header>
                <a href="#"><img src="images/pic01.jpg" alt="" /></a>
                <h3>Feugiat et faucibus</h3>
              </header>
              <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
              <ul class="actions">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </article>
            <article class="item">
              <header>
                <a href="#"><img src="images/pic02.jpg" alt="" /></a>
                <h3>Blandit adipiscing</h3>
              </header>
              <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
              <ul class="actions">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </article>
            <article class="item">
              <header>
                <a href="#"><img src="images/pic03.jpg" alt="" /></a>
                <h3>Lorem massa nulla</h3>
              </header>
              <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
              <ul class="actions">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </article>
            <article class="item">
              <header>
                <a href="#"><img src="images/pic04.jpg" alt="" /></a>
                <h3>Ipsum sed tempus</h3>
              </header>
              <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
              <ul class="actions">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </article>
          </section>

        <!-- CTA -->
          <section id="cta" class="main special">
            <h2>Etiam veroeros lorem</h2>
            <p>Phasellus ac augue ac magna auctor tempus proin<br />
            accumsan lacus a nibh commodo in pellentesque dui<br />
            in hac habitasse platea dictumst.</p>
            <ul class="actions">
              <li><a href="#" class="button big">Get Started</a></li>
            </ul>
          </section>
          <footer id="footer">
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
              <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</html>








<% if user_signed_in? %>
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link is-arrowless">
    <span><%= current_user.email %></span>
  </a>
  <div class="navbar-dropdown">
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
    <hr class="navbar-divider">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
  </div>
</div>
<%= link_to(edit_user_registration_path, class: 'navbar-item') do %>

<% end %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'  %>
  <%= link_to "Log in", new_user_session_path, :class => 'navbar-item'  %>
<% end %>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.desc %></td>
        <td><%= card.price %></td>
        <td><%= link_to 'Show', card %></td>
        <% if current_user.present? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_card_path(card) %></td>
          <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</p>

<% if current_user.present? && current_user.admin? %>
  <%= link_to 'New Card', new_card_path %>
<% end %>
